Question 1. 

Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number 

(e.g. &quot;12 +
24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).


Here, we have 1 followed by a space, operator followed by another space
and 2. For the challenge, we are going to have only two numbers between 1
valid operator.

The return value should be a number.
eval() is not allowed. 

In case of division, whenever the second number equals
&quot;0&quot; return -1.

For example:

&quot;15 // 0&quot; ➞ -1

Examples

arithmetic_operation(&quot;12 + 12&quot;) ➞ 24 // 12 + 12 = 24 

arithmetic_operation(&quot;12 - 12&quot;) ➞ 24 // 12 - 12 = 0

arithmetic_operation(&quot;12 * 12&quot;) ➞ 144 // 12 * 12 = 144

arithmetic_operation(&quot;12 // 0&quot;) ➞ -1 // 12 / 0 = -1

In [502]:
import math
import numpy as np
import re

def arithmetic_operation(a):
#     a = "12 - 12"
    pattern = re.compile(r'\s+')
    print("Original String Value: ", a)

    for i in a:
        if i == "+" or i == "*" or i == "-" or i == "/" or i == " ":
            a_2 = a.replace(" ","")
#             a_2 = re.sub(pattern, "", a)
            part_1 = a.split(i,1)[0]
            part_2 = a.split(i, 1)[1]
        
        

    str_lst = []
    str_lst.append(part_1)
    str_lst.append(part_2[1:])

    str_lst = [j.replace(" ","") for j in str_lst]
    int_a_3 = list(map(int, str_lst))

    
    for k in a:
        
        if k == "+":
            print(sum(int_a_3))
        elif k == "*":
            print(math.prod(int_a_3))
        elif k == "-":
            print(np.subtract(int_a_3[0], int_a_3[1]))
        elif k == "/":
            try:
                if int_a_3[1] == 0:
                    print(-1)
                    break
            except ZeroDivisionError as err:
                pass
            else:
                print(int_a_3[0] /int_a_3[1])
        elif k == "//":
            print(int_a_3[0] //int_a_3[1])

In [503]:
arithmetic_operation("12 + 12")

Original String Value:  12 + 12
24

In [504]:
arithmetic_operation("12 - 12")

Original String Value:  12 - 12
0

In [505]:
arithmetic_operation("12 * 12")

Original String Value:  12 * 12
144

In [510]:
arithmetic_operation("43 * 0")

Original String Value:  43 * 0
0

In [506]:
arithmetic_operation("24 + 0")

Original String Value:  24 + 0
24

In [507]:
arithmetic_operation("12 / 2")

Original String Value:  12 / 2
6.0

In [508]:
arithmetic_operation("88965+5566")

Original String Value:  88965+5566
89531

In [509]:
arithmetic_operation("12 / 0")

Original String Value:  12 / 0
-1

Question 2. 

Write a function that takes the coordinates of three points in the form of a
2d array and returns the perimeter of the triangle. 

The given points are the
vertices of a triangle on a two-dimensional plane.


Examples

perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [672]:
import math
def perimeter(one_lst):

#     one_lst = [[15, 7], [5, 22], [11, 1]]
    A = one_lst [0]
    B = one_lst [1]
    C = one_lst [2]
    print(A, B, C)

    x1 = A[0]
    x2 = B[0]
    x3 = C[0]

    y1 = A[1]
    y2 = B[1]
    y3 = C[1]


    AB = ((x2 - x1)**2) + ((y2 - y1)**2)
    sqrt_AB = math.sqrt(AB)
    BC = ((x3 - x2)**2) + ((y3 - y2)**2)
    sqrt_BC = math.sqrt(BC)
    AC = ((x3 - x1)**2) + ((y3 - y1)**2)
    sqrt_AC = math.sqrt(AC)

    fnd_perimeter = sqrt_AB + sqrt_BC + sqrt_AC
    return round(fnd_perimeter, 2)

In [673]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )

[15, 7] [5, 22] [11, 1]

47.08

In [674]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

[0, 0] [0, 1] [1, 0]

3.41

In [675]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

[-10, -10] [10, 10] [-10, 10]

68.28

Question 3.

A city skyline can be represented as a 2-D list with 1s representing
buildings. 

In the example below, the height of the tallest building is 4 (second-
most right column).

[[0, 0, 0, 0, 0, 0],

[0, 0, 0, 0, 1, 0],

[0, 0, 1, 0, 1, 0],

[0, 1, 1, 1, 1, 0],

[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0&#39;s and 1&#39;s) and returns the
height of the tallest skyscraper.

Examples

tallest_skyscraper([

[0, 0, 0, 0],

[0, 1, 0, 0],

[0, 1, 1, 0],

[1, 1, 1, 1]

]) ➞ 3

tallest_skyscraper([

[0, 1, 0, 0],

[0, 1, 0, 0],

[0, 1, 1, 0],

[1, 1, 1, 1]

]) ➞ 4

tallest_skyscraper([

[0, 0, 0, 0],

[0, 0, 0, 0],

[1, 1, 1, 0],

[1, 1, 1, 1]

]) ➞ 2

In [1219]:
import numpy as np
def tallest_skyscraper(a_mat):
    
    A_mat = np.array(a_mat)
    max_ = A_mat.max(axis = 1, keepdims = True)
    count = 0
    for i in max_:
        if i[0] == 1:
            count += 1
    return count

In [1220]:
tallest_skyscraper([[0, 0, 0, 0],
                    [0, 1, 0, 0],
                    [0, 1, 1, 0],
                    [1, 1, 1, 1]])

3

In [1221]:
tallest_skyscraper([[0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 1, 0],
                    [0, 0, 1, 0, 1, 0],
                    [0, 1, 1, 1, 1, 0],
                    [1, 1, 1, 1, 1, 1]])

4

In [1222]:
tallest_skyscraper([[0, 1, 0, 0],
                    [0, 1, 0, 0],
                    [0, 1, 1, 0],
                    [1, 1, 1, 1]])

4

In [1223]:
tallest_skyscraper([[0, 0, 0, 0],
                    [0, 0, 0, 0],
                    [1, 1, 1, 0],
                    [1, 1, 1, 1]])

2

In [1225]:
import numpy as np

def tallest_bldg(B):
    B = np.array(B)
    cc = 0
    only_ones = B.max(axis=1)
    for i in only_ones:
        if i == 1:
            cc += 1
    return cc

In [1229]:
tallest_bldg   ([[0, 0, 0, 0],
                [0, 1, 0, 0],
                [0, 1, 1, 0],
                [1, 1, 1, 1]])

3

In [1228]:
tallest_bldg       ([[0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 1, 0],
                    [0, 0, 1, 0, 1, 0],
                    [0, 1, 1, 1, 1, 0],
                    [1, 1, 1, 1, 1, 1]])

4

In [1230]:
tallest_bldg       ([[0, 1, 0, 0],
                    [0, 1, 0, 0],
                    [0, 1, 1, 0],
                    [1, 1, 1, 1]])

4

In [1231]:
tallest_bldg      ([[0, 0, 0, 0],
                    [0, 0, 0, 0],
                    [1, 1, 1, 0],
                    [1, 1, 1, 1]])

2

Question 4. 

A financial institution provides professional services to banks and claims
charges from the customers based on the number of man-days provided.

Internally, it has set a scheme to motivate and reward staff to meet and
exceed targeted billable utilization and revenues by paying a bonus for each
day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:

Days Bonus

0 to 32 days Zero

33 to 40 days SGD $ 325 per billable day

 41 to 48 days SGD$550 per billable day

Greater than 48 days SGD $ 600 per billable day

Please note that incentive payment is calculated progressively. As an
example, if an employee reached total billable days of 45 in a quarter, his/her
incentive payment is computed as follows:

 32 * 0 + 8 * 325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus
he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [1114]:
def bonus(days_worked):
    incentive_pay = int()
    while days_worked > 0:
        if days_worked >= 1 and days_worked <= 32:
            incentive_pay = 0
        elif days_worked >= 33 and days_worked <=40:
            incentive_pay = (days_worked - 33) * 325
        elif days_worked >= 41 and days_worked <= 48:
            incentive_pay = (days_worked - 40) * 550 + (8*325)
        elif days_worked > 48:
            incentive_pay = (days_worked - 48) * 600 + ((8*325) + (8 * 550))
        return incentive_pay
        break

In [1115]:
bonus(15)

0

In [1116]:
bonus(37)

1300

In [1117]:
bonus(45)

5350

In [1118]:
bonus(50)

8200

In [1136]:
def bonus_2():
    days_2 = int(input())
    count_days = 32
    rem_days = int()
    incen_pay = 0
    print("Number of Days Worked: ", days_2)

    for i in range(0, days_2+1):
        if days_2 > 32:
            rem_days = days_2 - count_days
            if rem_days <= 8:
                incen_pay = rem_days*325
            elif rem_days > 8 and rem_days <=16:
                incen_pay = ((rem_days-8) * 550) + 2600
            elif rem_days > 16:
                incen_pay = ((rem_days-16)*600) + 7000
        else:
            return "No Incentive Pay as it is ", days_2, "days. Less than ", count_days
    return "Incentive Pay is ", incen_pay

In [1137]:
bonus_2()

45
Number of Days Worked:  45

('Incentive Pay is ', 5350)

In [1138]:
bonus_2()

27
Number of Days Worked:  27

('No Incentive Pay as it is ', 27, 'days. Less than ', 32)

In [1139]:
bonus_2()

58
Number of Days Worked:  58

('Incentive Pay is ', 13000)

Question 5. 

A number is said to be Disarium if the sum of its digits raised to their
respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False

7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True

1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

In [1211]:
import math
def is_disarium(entr_num):
    power_ = 0
    total_ = []
    num_ = [int(i) for i in str(entr_num)]
    num_

    for i in num_:
        if entr_num <= 0:
            print("Number has to be more than 0")
        else:
            power_+=1
            i = math.pow(i, power_)
            total_.append(int(i))
            sum_total = sum(total_)
            
    if sum_total == entr_num:
        return entr_num, "is Disarium ", True
    return entr_num," is NOT Disarium ", False

In [1212]:
is_disarium(544)

(544, ' is NOT Disarium ', False)

In [1198]:
is_disarium(518)

(518, 'is Disarium ', True)

In [1201]:
is_disarium(466)

(466, ' is NOT Disarium ', False)

In [1191]:
is_disarium(8)

(8, 'is Disarium ', True)

In [1192]:
is_disarium(75)

(75, ' is NOT Disarium ', False)

In [1193]:
is_disarium(135)

(135, 'is Disarium ', True)

In [1202]:
is_disarium(175)

(175, 'is Disarium ', True)

                                              #################### THE END ###########################